/* 1-6 */
.component-craftsman-funbtn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.component-craftsman-funbtn:hover,
.component-craftsman-funbtn:focus {
  color: #fff;
  outline: 0;
}
.component-craftsman-funbtn-:hover,
.component-craftsman-funbtn-:focus {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.component-craftsman-funbtn-first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.component-craftsman-funbtn-first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.component-craftsman-funbtn-second {
  border-radius: 3em;
  border-color: #1abc9c;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgba(26, 188, 156, 0.6),
    rgba(26, 188, 156, 0.6) 5%,
    #1abc9c 5%,
    #1abc9c 10%,
    rgba(26, 188, 156, 0.6) 10%,
    rgba(26, 188, 156, 0.6) 15%,
    #1abc9c 15%,
    #1abc9c 20%,
    rgba(26, 188, 156, 0.6) 20%,
    rgba(26, 188, 156, 0.6) 25%,
    #1abc9c 25%,
    #1abc9c 30%,
    rgba(26, 188, 156, 0.6) 30%,
    rgba(26, 188, 156, 0.6) 35%,
    #1abc9c 35%,
    #1abc9c 40%,
    rgba(26, 188, 156, 0.6) 40%,
    rgba(26, 188, 156, 0.6) 45%,
    #1abc9c 45%,
    #1abc9c 50%,
    rgba(26, 188, 156, 0.6) 50%,
    rgba(26, 188, 156, 0.6) 55%,
    #1abc9c 55%,
    #1abc9c 60%,
    rgba(26, 188, 156, 0.6) 60%,
    rgba(26, 188, 156, 0.6) 65%,
    #1abc9c 65%,
    #1abc9c 70%,
    rgba(26, 188, 156, 0.6) 70%,
    rgba(26, 188, 156, 0.6) 75%,
    #1abc9c 75%,
    #1abc9c 80%,
    rgba(26, 188, 156, 0.6) 80%,
    rgba(26, 188, 156, 0.6) 85%,
    #1abc9c 85%,
    #1abc9c 90%,
    rgba(26, 188, 156, 0.6) 90%,
    rgba(26, 188, 156, 0.6) 95%,
    #1abc9c 95%,
    #1abc9c 100%
  );
  background-position: 0 0;
  background-size: 100%;
  transition: background 300ms ease-in-out;
}
.component-craftsman-funbtn-second:hover {
  background-position: 100px;
}

.component-craftsman-funbtn-third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.component-craftsman-funbtn-third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #3498db;
}

.component-craftsman-funbtn-fourth {
  border-color: #f1c40f;
  color: #f1c40f;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.component-craftsman-funbtn-fourth:hover {
  background-position: 0;
}

.component-craftsman-funbtn-fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}
.component-craftsman-funbtn-fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.component-craftsman-funbtn-fifth:hover {
  color: #fff;
}
.component-craftsman-funbtn-fifth:hover:after {
  width: 110%;
}

.component-craftsman-funbtn-sixth {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.component-craftsman-funbtn-sixth:hover {
  color: #fff;
  background-position: 0 100%;
}


/* ------------ 7-13  ------- */

.component-craftsman-box-fill:hover,
.component-craftsman-box-fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.component-craftsman-box-pulse:hover,
.component-craftsman-box-pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.component-craftsman-box-close:hover,
.component-craftsman-box-close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.component-craftsman-box-raise:hover,
.component-craftsman-box-raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.component-craftsman-box-up:hover,
.component-craftsman-box-up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.component-craftsman-box-slide:hover,
.component-craftsman-box-slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.component-craftsman-box-offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.component-craftsman-box-offset:hover,
.component-craftsman-box-offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.component-craftsman-box-fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.component-craftsman-box-pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.component-craftsman-box-close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.component-craftsman-box-raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.component-craftsman-box-up {
  --color: #e4cb58;
  --hover: #94e458;
}

.component-craftsman-box-slide {
  --color: #8fc866;
  --hover: #66c887;
}

.component-craftsman-box-offset {
  --color: #19bc8b;
  --hover: #1973bc;
}

.component-craftsman-box-button {
  color: var(--color);
  transition: 0.25s;
}
.component-craftsman-box-button:hover,
.component-craftsman-box-button:focus {
  border-color: var(--hover);
  color: #fff;
}

.component-craftsman-box-button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;

  line-height: 1;
  padding: 1em 2em;
}

