.component-craftsman-table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.component-craftsman-table thead th,
.component-craftsman-table tbody td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #dddddd;
}

.component-craftsman-table thead th {
  background-color: #f6f6f6;
  font-weight: bold;
  border-right: 1px solid #dddddd;
}

.component-craftsman-table thead th:last-child {
  border-right: none;
}

.component-craftsman-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.component-craftsman-table tbody tr:hover {
  background-color: #eaeaea;
}

.component-craftsman-table th:first-child,
.component-craftsman-table td:first-child {
  padding-left: 20px;
}

.component-craftsman-table th:last-child,
.component-craftsman-table td:last-child {
  padding-right: 20px;
}

.component-craftsman-table tbody td {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .component-craftsman-table tbody tr {
    margin-bottom: 20px;
    /* border: 1px solid #dddddd; */
  }
}
