.component-craftsman--divider-container {
  position: relative;
  margin: 10px 0;
}

.component-craftsman--divider-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  border-top: 1px solid #2c2c2c13;
  z-index: 1;
}

.component-craftsman--divider-tag {
  position: absolute;
  font-size: 12px;
  z-index: 2;
}

.component-craftsman--divider-tag-left {
  left: 0;
}

.component-craftsman--divider-tag-center {
  left: 50%;
  transform: translateX(-50%);
}

.component-craftsman--divider-tag-right {
  right: 0;
}
